.container {
  margin-top: 6rem;
  margin-bottom: 3rem;
}

img {
  border-radius: 50%;
}

h2 {
  margin-bottom: 1rem;
}

.div-home{
    border: double
}

.box {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

nav {
  height: 6rem;
}

footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;

  color: rgb(141, 46, 46);
  text-align: center;

  height: 2rem;
}
